<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <main>
    <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
        <div class="form-control">
            <label for="title">Exam Name</label>
            <input type="text" name="examName" id="examName" value="<% if (editing) { %><%= result.examName %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">Student Name</label>
            <input type="text" name="studentName" id="studentName" value="<% if (editing) { %><%= result.studentName %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">English</label>
            <input type="text" name="english" id="english" value="<% if (editing) { %><%= result.english %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">Maths</label>
            <input type="text" name="maths" id="maths" value="<% if (editing) { %><%= result.maths %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">Physics</label>
            <input type="text" name="physics" id="physics" value="<% if (editing) { %><%= result.physics %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">Chemistry</label>
            <input type="text" name="chemistry" id="chemistry" value="<% if (editing) { %><%= result.chemistry %><% } %>">
        </div>
        <% if (editing) { %>
            <input type="hidden" value="<%= result.id %>" name="resultId">
        <% } %>

        <button class="btn" type="submit"><% if (editing) { %>Update Result<% } else { %>Add Result<% } %></button>
    </form>
</main>

    
<%- include('../includes/end.ejs') %>