<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <main>
    <% if(errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
        <div class="form-control">
            <label for="title">Exam Name</label>
            <input 
            class="<%= validationErrors.find(e => e.param === 'examName') ? 'invalid' : '' %>"
            type="text" 
            name="examName" 
            id="examName" 
            value="<% if (editing || hasError ) { %><%= result.examName %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">Student Name</label>
            <input 
            class="<%= validationErrors.find(e => e.param === 'studentName') ? 'invalid' : '' %>"
            type="text" 
            name="studentName" 
            id="studentName" 
            value="<% if (editing || hasError ) { %><%= result.studentName %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">English</label>
            <input 
            class="<%= validationErrors.find(e => e.param === 'english') ? 'invalid' : '' %>"
            type="text" 
            name="english" 
            id="english" 
            value="<% if (editing || hasError ) { %><%= result.english %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">Maths</label>
            <input 
            class="<%= validationErrors.find(e => e.param === 'maths') ? 'invalid' : '' %>"
            type="text" 
            name="maths" 
            id="maths" 
            value="<% if (editing || hasError ) { %><%= result.maths %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">Physics</label>
            <input 
            class="<%= validationErrors.find(e => e.param === 'physics') ? 'invalid' : '' %>"
            type="text" 
            name="physics" 
            id="physics" 
            value="<% if (editing || hasError ) { %><%= result.physics %><% } %>">
        </div>
        <div class="form-control">
            <label for="title">Chemistry</label>
            <input 
            class="<%= validationErrors.find(e => e.param === 'chemistry') ? 'invalid' : '' %>"
            type="text" 
            name="chemistry" 
            id="chemistry" 
            value="<% if (editing || hasError ) { %><%= result.chemistry %><% } %>">
        </div>
        <% if (editing) { %>
            <input type="hidden" value="<%= result.id %>" name="resultId">
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit"><% if (editing) { %>Update Result<% } else { %>Add Result<% } %></button>
    </form>
</main>

    
<%- include('../includes/end.ejs') %>